@model mvcCrudWithScaf.Models.StudInformation
@{
    /**/

    ViewBag.Title = "CreateEmp";
}

<h2>CreateEmp</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-md-10">
        Employee Name:
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-10">
        Employee Salary:
        @Html.EditorFor(m => m.salary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.salary, "", new { @class = "text-danger" })

        <div>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}